.root {
  --borderColor: white;
  --bgButtonColor: #5a5555;
}

.commit-container {
  margin: 1rem 0;
  color: white;
  border: 1px solid;
  border-color: var(--borderColor);
  border-radius: 0.5rem;
}

.commit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

.commit-item:not(:first-child) {
  border-top: solid 1px;
  border-color: var(--borderColor);
}

.commit-right {
  margin-left: 1rem;
}

.link-container {
  width: fit-content;
}

a {
  text-decoration: none;
  color: inherit;
  width: min-content;
  cursor: pointer;
}

.message-link:hover {
  color: rgb(128, 187, 255);
  text-decoration: underline;
}

.name-link:hover {
  color: white;
  text-decoration: underline;
}

strong {
  color: #d8d8d8;
}

p {
  color: #959595;
}

h3 {
  padding: 0.25rem 0rem;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
}

.avatar-img {
  width: 30px;
  border-radius: 100%;
  margin: 0.25rem 0.5rem 0.25rem 0rem;
}

.code-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: rgba(90, 85, 85, 25%);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.code-icon-wrapper:hover {
  background-color: rgba(90, 85, 85, 50%);
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
